.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    color: #140031;
}

.experiencia .subtitulo:hover {
    color: aqua;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch; /*40 palaras*/
    margin-bottom: 60px;
    color: #525252;
}

.experiencia-texto strong {
    color: #141414;

}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    gap: 10px 20px;
}


.empresa-ano {
    position: absolute;
    top: 20px;
    left: -100px;
    color: #525252;
    font-size: 0.875rem;
    text-align: center;
    width: 80px; /*aumentei o tamnho do conteudo, pra alinhar ele*/
    text-align: right;
}

.empresa::before {
    content: ''; /*Preciso disso para o before*/
    display: block;
    width: 5px;
    height: 20px;
    position: absolute; /*Elmento Filho*/
    background-color: aqua;
    top: 20px;
    left: -5px;
}

.empresa-titulo {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
    padding: 15px;
}

.empresa li {
    font-size: 14px;
    line-height: 1.4;
    border-radius: 5px;
    background: #ffffff;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia .subtitulo {
        color: #141414;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
    .empresa-ano::before {
        content: 'Ano: ';
    }

    @media (max-width: 400px) {
        .empresa {
            grid-template-columns: 1fr;
        }
    }
    