.formaçao {
    background-color: #141414;
    color: #ffff;
}
.formaçao-container {
    max-width: 1200px;
    padding: 40px 20px;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    position: relative;
}

.formaçao-container::after {
    content: '';
    display: block;
    width: 130px;
    height: 100px;
    background: url(img/detalhe.svg) no-repeat center;
    position: absolute;
    bottom: -50px;
    left: 20px;
}

.formaçao .word {
    color: #000000;
}

.word {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase; /*Todas em letras maiusculas*/
    word-break: break-all; /*Quebrar as palavras*/
     max-width: 5ch; /*Quantidade de letras para quebrar*/
}

.formaçao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch; /*40 palaras*/
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formaçao strong {
    color: #ffffff;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.faculdade {
    flex: 1;
    background: #000000;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tipo {
    font-size: 0.87rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
   
}

.faculdade-curso {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
}

.faculdade::before {
    content: ''; /*Preciso disso para o before*/
    display: block;
    width: 5px;
    height: 30px;
    position: absolute; /*Elmento Filho*/
    background-color: aqua;
    top: 50px;
    left: -5px;
}

.cursos {
    margin-bottom: 60px;
}

.extra {
    font-size: 0.87rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.extra h3::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(img/cursos.svg) no-repeat center;
    position: absolute;
    left: -36px;
}

.idiomas h3::before {
    background: url(img/idiomas.svg) no-repeat center;
}

.extra li {
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #ffff;
    padding: 10px;
}

.extra spam {
    color: #8f8f8f;
}


.cursos li {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .formaçao-container {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 50px;
    }

    .word {
        max-width: 9ch;
        text-align: center;
    }

    .formaçao-texto {
        font-size: 1.125rem;
    }

    .extra h3::before {
        position: initial;
        margin-bottom: 10px;
    }


}