.header {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between; /*Para jogar os itens nos cantos da tela, a Logo e o itens*/
    align-items: center;
    max-width: 1200px; /*Important*/
    margin: 0 auto; /*Important*/
}

.header-menu {
    display: flex;
    flex-wrap: wrap; /*Ajuda a deixar responsivo*/
    gap: 10px;
    justify-content: center; /*Para deixar o conteudo no centro, responsividade*/
}

.header-menu a {
    /*1 rem = 16 */
    font-size: 1.25rem;
    line-height: 1.3;; /*Altura de linha*/
    padding: 10px 20px; /*10 = Cima e baixo, 20 = cada lado, isso para aumentar a area de clique*/
    text-decoration: none; /*Tirar a decoração*/
    color: #140031;
    display: block;
}

.header-menu a:hover {
    color: aqua;
}

.logo {
    max-width: 100%;
    display: block;
    width: 200px;
}

@media (max-width: 800px) { /*Ja pensar no responsivo desde cedo!!*/
    .header {
        flex-direction: column; /*Faz os itens ficarem embaixo da logo*/
        gap: 35px;
        padding: 15px;
    }
    .header a {
        background: #f5f5f5;
        border-radius: 5px;
    }
}
